#title {
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 13% 5% 13%;
    
}

.h1text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;

}

.padding-control {
    padding: 3% 17%;

}

body {

    font-family: Montserrat;

}

/* Naviagation Bar */
.navbar{
padding-bottom: 4.5rem;
}

.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-item
{
    padding: 0 18px;
    font-family: Montserrat;
    font-weight: 400;
    
}
.nav-link
{
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    
}

.download-button
{
    margin: 5% 3% 5% 0;
}

.title-image
{
    width: 45%;
    margin-left: 15%;
    
    
    
}


.fsize
{
    height: 50px;
    width: 50px;
}

#features
{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
   
    
}

.fa-solid
{
    font-size: 3rem;
    padding-bottom: 10px;
}

h3
{
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 400;
}

.feature-box{
    text-align: center;
    padding: 5%;
}



.fas 
{
   color: #ff4c68;
}

#testimonials
{
    
    text-align: center;
    background-color: #FAAB78;
    color: #fff;
}

h2
{
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 400;
}

.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin: 20px 20px 50px 20px;
}

.carousel-item
{
    padding: 7% 15%;
}

#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing-column
{
    padding: 3% 2%;
}

h3
{
    font-family: Montserrat;
    font-size: x-large;
    font-weight: 700;
}



#cta
{
    background-color: #ff4c68;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    color: #fff;
    
    line-height: 1.5;
}

.footer
{
    
    height: 7%;
    width: 25%;
    margin-left: 37%;
    
}

.btn
{
    margin: 1rem;
}

#footer
{
    text-align: center;
    padding: 5%;

}

.social-icon
{
    padding: 1%;
    padding-bottom: 3%;
}

/* family box */

.family-image-left
{
    width: 300px;
    height: 300px;
    margin: 5% 30%;
    
}
.family-image-right
{
    width: 300px;
    height: 300px;
    margin: 5% 8%;
    
}

.row-right
{
    background-color: #ef8172;
    color: #fff;
}
.family-box
{
    padding: 5% 5%;
    
}

.content
{
    font-family: Poppins;
    font-weight: 500;
    font-size: large;

}

.family-head
{
   font-family: Ubuntu;
   font-size: xx-large;
}

.footer-image
{
    height: 200px;
    width: 200px;
}

@media (max-width: 1024px) {
    #title
    {
        text-align: center;
    }



    .all-family
    {
        text-align: center;
    }   

    .family-image-right
    {
        width: 300px;
        height: 300px;
        margin: 5% auto 0% auto;
       
        
    }

    .family-box
    {
        text-align: center;
    }

    .family-image-left
{
    width: 300px;
    height: 300px;
    margin: 5% auto 0% auto;
    
}

        .title-image
    {
        position: static;
        transform: rotate(0);
       
    }
    }